<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="">name</label>
        <input type="text" name="name" placeholder="name">
        <br>
        <label for="">email</label>
        <input type="email" name="email" placeholder="email">
        <br>
        <label for="">password</label>
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
         <p style="color: red;"><%=locals.messege %></p>
         <a href="/login">Sign Up</a>
    </form>
</body>
</html>